.main{
    height:100vh;
    width:100%;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        height:100vh;
        width: 100%;
        background: url('/pexels-karolina-grabowska-4750396.jpg') no-repeat;
        background-color: black;
        opacity: 0.3;
    }
    .card{
        z-index: 1;
        background: white;
        width: 300px;
        height: fit-content;
        border-radius: 10px;
        .logo{
            width: 138px;
            height: 106px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);        
        }
    }
    
    display: flex;
    justify-content: center;
    align-items: center;
}