.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    background-color:rgb(255, 255, 255);
    z-index: 100;
    color:green;
    border-bottom: solid 1px #c8c4c4;
    ul.items{
        left:0;
        width: 100px;
        list-style: none;
        display: flex;
        position: absolute;
        top:0;      
        li:last-child{
            margin-left: 40px;
        }
        li{
            cursor: pointer;
        }
        .cart{            
            position: relative;
            div.cartmenu{
                display: none;
                margin-top: 10px;
                height: fit-content;
                width: 250px;
                background: white;
                top: 25px;
                -webkit-box-shadow: -1px 11px 15px 4px rgba(0,0,0,0.27); 
                box-shadow: -1px 11px 15px 4px rgba(0,0,0,0.27);
                border-radius: 10px;
                direction: rtl;
                padding: 5px;
                font-family: 'IRANSansWeb';
                color: black;
                font-size: 13px;
                font-weight: bold;
                .cartImg{
                    height: 50px;
                    width: 50px;
                }
                .labels{
                    display: grid;
                    text-align: right;
                    padding-right: 10px;
                }
                .price{
                    color:gray;
                    font-weight: 100;
                }
                .tray{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    color: gray;
                }
                
            }
            &:hover .cartmenu{
                //position: absolute;
                display: block;
            }
        }
        .dropDown{
            height: fit-content;
            width: 100px;
            background: white;
            border: 1px solid white;
            display: none;            
        }
        .user{
            position: absolute;
            &:hover .dropDown{
                position: absolute;
                display: block;
                z-index: 1;
            }
        }
    }    
   .logo{
        right: 0;
        position: absolute;
        width: 98px;
        height: 56px;
        bottom: 2px; 
        cursor: pointer;
    }
    
}