.pragraphEffect {
  position: relative;
}
.pragraphEffect::after {
  content: "";
  width: 100%;
  height: 30px;
  background: linear-gradient(90deg, #fff 60%, transparent);
  position: absolute;
  bottom: 0;
  right: 0;
}
