.searchItems {
  position: relative;
  display: flex;
  text-align: right;
  direction: rtl;
  padding: 5px;
}
.searchItems .title {
  display: grid;
  padding-right: 5px;
}
.searchItems .button {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83%;
}

.inSearch {
  border-radius: 20px;
}

.outSearch {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search {
  position: absolute;
  right: 100px;
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* Portrait phones and smaller */
}
.search input {
  width: 100%;
  height: 40px;
  text-align: right;
  padding-right: 30px;
  border: 1px solid #d0cece;
  color: black;
  direction: rtl;
  border: none;
  outline: none;
}
.search .icon {
  right: 5px;
  position: absolute;
  top: 10px;
}
.search .searchContent {
  border-top: 1px solid #e0e0e0;
  max-height: 300px;
  position: absolute;
  width: 100%;
  background: white;
  overflow-y: scroll;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 9px 8px -3px rgba(64, 60, 67, 0.24), 8px 0 8px -7px rgba(64, 60, 67, 0.24), -8px 0 8px -7px rgba(64, 60, 67, 0.24);
  left: 0;
  margin-top: -1px;
  text-align: center;
}
@media (min-width: 730px) {
  .search {
    width: 500px;
  }
}
@media (min-width: 630px) and (max-width: 730px) {
  .search {
    width: 400px;
  }
}
@media (min-width: 530px) and (max-width: 630px) {
  .search {
    width: 300px;
  }
}
@media (max-width: 480px) {
  .search {
    width: 200px;
  }
}
